.add-form{
    margin: 10px auto !important;
    padding: 10px !important;
    /* width: 250px !important; */
}

.button-submit{
    text-align: center;
}

.question-bank{
    margin: 20px;
    padding: 10px;
}

.title-line{
    margin-bottom: 20px;
}

.text-right{
    text-align: right;
}