.logout{
    position: absolute;
    bottom: 20px;
    width: 100%;
}

.description{
    border-radius: 30px;
    box-shadow: 0px 15px 40px 5px #EDEDED;
    background: #FFFFFF;
    padding: 20px;
    margin: 0px 20px 20px 20px;
}

.details{
    padding: 10px;
}

.details h4{
    margin: 17px auto;
}

.question-image{
    border-radius: 30px;
}

.start-button{
    width: 150px;
    background-color: #8692A6;
    box-shadow: none;
    font-family: "Poppins", sans-serif;
    border: none;
    border-radius: 30px;
    color: #FFFFFF;
}

.heading{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}