.navbar {
  background-color: #fbf9f9;
  font-family: "Poppins", sans-serif !important;
}

.quiz-logo {
  color: black;
  font-weight: 800;
  font-size: 18px;
  font-family: "Poppins", sans-serif;
}


.searchbar{
    display: flex;
    align-items: center;
}

.start-button{
    width: 150px;
    background-color: #8692A6;
    box-shadow: none;
    font-family: "Poppins", sans-serif;
}

.logout{
    background-color: #fbf9f9;
    position: absolute;
    bottom: 20px;
    width: 100%;
}

.ant-menu-light.ant-menu-root.ant-menu-vertical{
    border-inline-end: none !important;
}

