.navbar {
  background-color: #fbf9f9;
  font-family: "Poppins", sans-serif !important;
}

.quiz-logo {
  color: black;
  font-weight: 800;
  font-size: 18px;
  font-family: "Poppins", sans-serif;
  cursor: pointer;
}

.searchbar {
  display: flex;
  align-items: center;
}

.start-button {
  width: 150px;
  background-color: #8692a6;
  box-shadow: none;
  font-family: "Poppins", sans-serif;
}

.logout {
  background-color: #fbf9f9;
  position: absolute;
  bottom: 20px;
  width: 100%;
}

.search {
  width: 300px;
  background: #ffffff;
  box-shadow: 0px 15px 40px 5px #ededed;
  border-radius: 30px;
  border: none !important;
  height: 40px;
  padding: 0px 20px;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 3;
}

.ant-menu-light.ant-menu-root.ant-menu-vertical {
  border-inline-end: none !important;
}

.ant-menu-vertical .ant-menu-item {
  border-radius: 30px;
}

.questionbank {
  background-color: #fbf9f9;
}

.avatar-navbar {
  border: 2px solid greenyellow;
  cursor: pointer;
}

.avatar-navbar:hover{
  border: 2px solid rgb(0, 234, 234);
}
