.cover-image-left {
  background-image: url("../../assests/loginbg.jpg");
  /* z-index: 4; */
  background-repeat: no-repeat;
  background-size: cover;
  /* filter: blur(2px); */
}

.cover-bg-right {
  background-color: #fff;
  padding: 20px;
  height: 100%;
}

.login-section {
  width: 100%;
  text-align: center;
  margin: 50px auto;
}

.input-box {
  background: #ffffff;
  box-shadow: 0px 15px 40px 5px #ededed;
  border-radius: 30px;
  border: none !important;
  height: 46px;
  padding: 0px 20px;
}

::-webkit-input-placeholder {
  /* WebKit browsers */
  padding: 0px 20px;
}

.login-button {
  box-shadow: 0px 15px 40px 5px #ededed;
  border: none !important;
  background: #8692a6 !important;
  border-radius: 30px;
  color: white;
  height: 46px;
}

.google-button {
  box-shadow: 0px 15px 40px 5px #ededed;
  border: none !important;
  background: #fff;
  border-radius: 30px;
  color: black;
  height: 46px;
}

.login-text {
  font-family: "Poppins", sans-serif !important;
  font-size: 30px;
  font-weight: 700;
  line-height: 45px;
  letter-spacing: 0em;
  text-align: center;
}

.login-text-2 {
  font-family: "Poppins", sans-serif !important;
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0em;
  text-align: center;
}

.login-label {
  font-family: "Poppins", sans-serif !important;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
}
